# This is a basic workflow to help you get started with Actions

name: pull_request

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  pull_request:
    types: [opened, synchronize, reopened]
    

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: macos-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=13.3,name=iPhone 11 Pro']

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
    # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
    - uses: actions/checkout@master

    # Runs a single command using the runners shell
    - name: start test
      run: echo start test!

    # Runs a set of commands using the runners shell
    - name: clean build and test
      run: xcodebuild clean test -workspace NLNetwork.xcworkspace -scheme "NLNetworkTests" -destination "${destination}"
      env: 
         destination: ${{ matrix.destination }}
